@keyframes blink {
  0% {
    opacity: 1;
  } 
  50% {
    opacity: 0;
  } 
  100% {
    opacity: 
    1;
  }
} 

.ctype-cursor {
  -webkit-animation: blink 1s infinite; 
  animation: blink 1s infinite; 
  position: absolute; 
  right: -5px;
}